%h3(style="min-width: 300px;")
  已发消息
  %span(style="font-size:12px;float:right;")
    = link_to '收消息', received_messages_path
    = link_to_function '发消息...', 'new_message()'

%ul#messages
  - @messages.each do |message|
    = render 'message_li', :message => message
= will_paginate @messages

= render 'read'

= render 'reply'

= render 'new_message'
