%h3 会议纪要

%table.list-table
  %tr
    %th 日期
    %th 主持人
    %th 会议主题
    %th 评论
    %th 记录人
    %th 记录时间
    %th

  - dl=7.days.ago
  - @meetings.each do |m|
    %tr{:id => "r_#{m.id}"}
      %td= m.holding_on
      %td= m.emcee.name
      %td= m.abstract
      %td= non_zero(m.comments_count)
      %td= m.registrar.name
      %td= m.created_at.datetime_ydyn
      %td
        = link_to '详细', resource_path(m), remote_options
        - if m.created_at > dl and (not m.confirmed or @cu.pm?(@project))
          = link_to '修改', edit_resource_path(m), remote_options
          = link_to '删除', resource_path(m), :confirm => '确定要删除吗?', :method => :delete, :remote => true
= will_paginate @mettings
%br

= link_to '增加', new_resource_path, remote_options
