%h3 项目文档

%table.list-table
  %tr
    %th 概要
    %th 状态
    %th 附件
    %th 评论
    %th 提交时间
    %th 上次修改
    %th

  - dl=7.days.ago
  - @documents.each do |m|
    %tr{:id => "r_#{m.id}"}
      %td= m.abstract
      %td= m.status_name
      %td= non_zero(m.attachments_count)
      %td= non_zero(m.comments_count)
      %td= m.created_at.datetime_ydyn
      %td= m.updated_at.datetime_ydyn unless m.updated_at==m.created_at
      %td
        = link_to '详细', resource_path(m), remote_options
        - if m.created_at > dl
          = link_to '修改', edit_resource_path(m), remote_options
          = link_to '删除', resource_path(m), :confirm => '确定要删除吗?', :method => :delete, :remote => true
= will_paginate @documents
%br

= link_to '增加', new_resource_path, remote_options

